.temoin{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #ff9881a8;
    padding: 20px;

    margin-bottom: 40px;
    }
.temoin>p{

    font-size: 14px;
padding-left:50px;
color: rgb(255, 255, 255);
}
.temoin>img{
    height: 150px;
    width: 150px;
}